@font-face {
    font-family: 'TT Lakes';
    src: url("./fonts/TTLakes-Regular.woff") format('woff');
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TT Lakes', sans-serif;
    background-color: #f8f8f8;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

a{ 
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.header {
    background-color: white;
    border-bottom: 1px solid #d9fff5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 13px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.header__btn img {
    display: block;
    width: 40px;
    height: 40px;
}

.header__btn--phone,
.header__btn--chat,
.header__btn--profile {
    display: none;
}

.header__divider {
    width: 2px;
    height: 32px;
    background: #eaeaea;
    border-radius: 1px;
}

.header__divider--logo,
.header__divider--menu {
    display: none;
}

.header__divider--middle {
    display: block;
}

.main__title {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    color: #1b1c21;
    padding: 18px 15px;
}

.main__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 4px;
    height: 40px;
    background: #41f6d7;
    border-radius: 0 4px 4px 0;
}

.main__actions {
    display: none;
}

.main__nav {
    overflow-x: auto;
    scrollbar-width: none;
}

.main__nav::-webkit-scrollbar {
    display: none;
}

.main__menu {
    display: flex;
    gap: 16px;
    padding: 5px 16px;
    width: max-content;
}

.main__item--brands,
.main__item--prices,
.main__item--addresses,
.main__item--special,
.main__item--reviews {
    display: none;
}

.main__link {
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #7e7e82;
    white-space: nowrap;
}

.main__link--mobile-active {
    background: #ffffff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

.main__link--desktop-active {
    background: #ffffff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
    display: none;
}

.about {
    display: flex;
    flex-direction: column;
}

.about__content {
    padding: 16px;
}

.about__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #1b1c21;
}

.about__text--tablet,
.about__text--pc {
    display: none;
}

.about__button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 14px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.about__arrow {
    width: 24px;
    height: 24px;
}

.about__image {
    margin-top: 10px;
}

.about__image img{
    width: 100%;
    display: block;
}

@media (min-width:768px) {
    .header__btn--phone,
    .header__btn--chat,
    .header__btn--profile {
        display: flex;
    }
    .header__container {
        padding: 18px 24px;
    }
    .header__divider--logo,
    .header__divider--menu {
        display: block;
    }
    .header__divider--middle {
        display: none;
    }
    .main__item--prices,
    .main__item--special {
        display: block;
    }
    .about {
        flex-direction: row;
        gap: 48px;
        padding: 24px;
    }
    .about__content {
        flex: 1;
    }
    .about__image {
        flex: 1;
        margin-top: 0;
    }
    .about__text--tablet{
        display: block;
        margin-top: 18px;
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main__container {
        position: relative;
        padding: 0 10px;
    }
    .main__title {
        padding: 18px 26px;
    }
    .main__title::before {
        width: 3px;
    }
    .main__actions {
        display: flex;
        position: absolute;
        top: 16px;
        right: 24px;
        gap: 24px;
        align-items: center;
    }
    .main__settings,
    .main__search {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #1b1c21;
    }
    .main__nav {
        overflow-x: visible;
    }
    .main__menu {
        width: 100%;
        justify-content: space-between;
        padding: 4px 26px;
        gap: 8px 16px;;
        display: flex;
        flex-wrap: wrap;
    }
    .main__link {
        font-size: 15px;
    }
    .main__item--brands,
    .main__item--addresses,
    .main__item--special,
    .main__item--reviews {
        display: block;
    }
    .main__item--services {
        display: none;
    }
    .main__link--mobile-active {
        background: transparent;
        border: none;
    }
    .main__link--desktop-active {
        display: block;
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
        padding: 0 24px;
    }
    .about__content {
        flex: 1;
        padding: 10px 0 0 10px;
    }
    .about__image {
        flex: 1;
        margin-top: 0;
    }
    .about__image img {
        width: 100%;
        height: auto;
    }
    .about__text--pc {
        display: block;
    }
    
}